## Introducció

El primer pas en la majoria de projectes d'IA és la recopilació de dades. En este exercici, crearem Series i DataFrame, tant manualment com llegint d'arxius.

In [3]:
import pandas as pd
pd.set_option('display.max_rows', 5)

## Activitat 1

Crea un DataFrame amb la següent informació.

![](https://storage.googleapis.com/kaggle-media/learn/images/Ax3pp2A.png)

In [ ]:
# Resposta activitat 1

## Activitat 2

Crea un DataFrame amb la següent informació i estructura:

![](https://storage.googleapis.com/kaggle-media/learn/images/CHPn7ZF.png)

In [ ]:
## Resposta activitat 2

## Activitat 3

Crea una variable `ingredients` amb una Series com la següent:

```
Flour       4 cups
Milk        1 cup
Eggs        2 large
Spam        1 can
Name: Dinner, dtype: object
```

In [ ]:
# Resposta activitat 3

## Activitat 4

Llig el següent csv de vins i guarda'l a un DataFrame `reviews`.

![](https://storage.googleapis.com/kaggle-media/learn/images/74RCZtU.png)

El csv el pots obtindre de [winemag-data-130k-v2.csv](../../../data/winemag-data-130k-v2.csv).

Les primeres línies es veuen com:

```
,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,"This tremendous 100% varietal wine[...]",Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and[...]",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,,Tinta de Toro,Bodega Carmen Rodríguez
```

In [ ]:
## Resposta activitat 4

Crea un DataFrame que es veja com el següent:

![DataFrame_animals.png](../img/DataFrame_animals.png)

In [4]:
## Resposta activitat 5

        Cows  Goats
Year 1    12     22
Year 2    20     19