## Introducció

### Pandas

Pandas és la llibreria més popular de Python per a l'anàlisi de dades. 

No podeu treballar amb dades si no les podeu llegir. En esta secció aprendrem a crear dades de forma estructurada, així com treballar amb dades preexistents.

Per començar a treballar amb pandas, el primer pas serà importar la llibrería. Al no formar part de les llibreries estàndar de Python, l'hauràs d'instal·lar (sobre l'entorn desitjat) amb:

```python
conda install pandas
```

Normalment, al igual que amb numpy, es comença amb:

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 5) # Per a que ens mostre 5 files com a màxim

### Creació de dades

El dos objectes que formen el nucli de pandas són **DataFrame** i **Series**.

#### DataFrame

Un DataFrame és una taula. Conté un array de valors. Cada valor està situat en una coordenada donada per la seua fila i la seua columna.

In [3]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

A diferència de numpy, pot contindre valors no numèrics:

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

Estem utilitzant pd.DataFrame() per generar els objectes DataFrame. La sintaxi per declarar-los és un diccionari de Python on les claus seran el nom de les columnes i els valors són les llistes d'entrada de cada clau.

El constructor de tious diccionari assigna a les files els valors 0, 1, 2,... per a les etiquetes de fila. En la majoria de casos pot ser útil, però podem assignar etiquetes a cada fila.

La llista d'etiquetes de fila s'anomena **Index**, i és el paràmetre que podem utilitzar per assignar els seus valors:

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

#### Series

Una Serie, per contra, és una seqüència de valors. Si un DataFrame és una taula, una Serie és una llista. I en realitat, pots crear una serie passant una llista de valors:

In [6]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Una Serie és, bàsicament, una columna d'un DataFrame. Igual que al DataFrame, pots assignar etiquetes a les files de cada Serie passant el paràmetre index. No obstant, una Serie no té un nom de columna, sinó simplement un nom general:

In [7]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

Com hauràs pogut deduir, les Series i els DataFrame estan molt relacionats, podent pensar que un DataFrame és un conjunt de Series unides. Ho veurem més endavant.

### Llegint dades d'arxius

La majoria de vegades no volem crear les dades manualment, sinó que volem treballar amb dades que ja existeixen.

Les dades poden estar allotjades en diferents formats, però una de les formes més freqüents i bàsiques és en format d'arxiu separat per comes o CSV.

```
Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11
```

Per crear un DataFrame a partir d'un CSV utilitzarem la funció `pd.read_csv()`.

In [8]:
import os
directory = os.path.abspath('')
resource_path = os.path.join(directory,"data","winemag-data-130k-v2.csv")
reviews = pd.read_csv(resource_path, index_col=0)

## Indexació, selecció i assignació

### Getters natius

Els objectes de Python proporcionen una forma molt còmoda d'accedir al valor de les seues propietats. A pandas pots utilitzar el mateix mecnisme.

Per a accedir als valors de les columnes, pots utilitzar `objecte.columna`.

In [9]:
reviews.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

També podem accedir fent ús de la notació pròpia dels diccionaris de Python, és a dir, a través de les claus:

In [10]:
reviews['country']

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

Les dues formes d'accedir són igualment vàlides. Però accedir a través de la clau sempre funcionarà, mentre que en l'altre cas no. Si algun nom de columna té un nom no vàlid com a nom de variable, no funcionarà.

Per exemple, si tenim un objecte DataFrame `persones` amb una columna `principal ocupació`, `persona.principal ocupació` no funcionarà, mentre que, persones['principal ocupació'] si que funcionaria.

Com podeu observar, una Serie de pandas és com un diccionari, així que no és d'estranyar que, per llegir un únic valor específic, només necessitem utilitzar l'operador d'indexació [] una vegada més.

In [11]:
reviews['country'][0]

'Italy'

L'operador d'indexació i la selecció d'atributs són molt útils i fàcils d'utilitzar perquè funcionen igual que a la resta de l'ecosistema Python. No obstant, pandas té els seus propis operadors d'accés, loc i iloc, que les utilitzarem per a operacions més avançades.

#### Selecció basada en índexs 

La indexació de Pandas funciona en un dels dos paradigmes. El primer és la selecció basada en índexs, que utilitza `iloc`: seleccionar dades en funció de la seva posició numèrica a les dades. iloc segueix aquest paradigma. Per seleccionar la primera fila de dades en un DataFrame, podem utilitzar el següent:

In [12]:
reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

Tant si utilitzem `loc` com si utilitzem `iloc` hem d'indicar primer la fila i després la columna, igual que a `numpy`. Això implica que és més fàcil recuperar files i més difícil recuperar columnes. Per obtenir una columna amb iloc, podem fer el següent:

In [13]:
reviews.iloc[:, 0]

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

<div class="admonition question">
  <p class="admonition-title">Pregunta</p>
  <p>
    Què estem seleccionant en el següent codi `reviews.iloc[:3, 0]`?
  </p>
</div>

El mateix resultat el podem obtindre utilitzant el *Fancy Indexing*.

In [14]:
reviews.iloc[[0, 1, 2], 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

Finalment, també podem utilitzar números negatius per a seleccionar utilitzant índex. Començaran a indexar des del final en sentit ascendent.

In [15]:
reviews.iloc[-5:]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

### Selecció basada en etiquetes

El segon paradigma per a selecció d'atributs és l'utilitzat per `loc`, que utilitza la selecció basada en etiquetes. En este paradigma s'utilitza el valor de les claus o etiquetes, no la seua posició, per seleccionar valors.

Per exemple:

In [16]:
reviews.loc[0, 'country']

'Italy'

`iloc` és conceptualment més senzill que `loc` perquè ignora els índexs del conjunt de dades. Quan utilitzem iloc, tractem el conjunt de dades com una gran matriu (una llista de llistes) que hem indexat per posició. `loc`, en canvi, utilitza la informació dels índexs, és a dir el valor de les etiquetes o claus, per fer la indexació. Com que el vostre conjunt de dades sol tenir índexs significatius, normalment és més fàcil fer les coses amb loc. 

Per exemple, hi ha una operacions que és molt més fàcil amb loc:

In [17]:
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

          taster_name taster_twitter_handle  points
0       Kerin O’Keefe          @kerinokeefe      87
1          Roger Voss            @vossroger      87
...               ...                   ...     ...
129969     Roger Voss            @vossroger      90
129970     Roger Voss            @vossroger      90

[129971 rows x 3 columns]


<details class='success'>
<summary>Comprovar resposta</summary>
<p>
reviews.iloc[:, [8, 9, 3]]
</p>
<p>
Per a accedir mitjançant índex necessitem conèixer millor l'estructura de com està organitzada la informació.
</p>
</details>

#### Escollim entre `loc` i `iloc`

A l'hora de triar o fer el canvi entre loc i iloc, cal tindre en compte que els dos mètodes utilitzen esquemes d'indexació lleugerament diferents. 

`iloc` utilitza l'esquema d'indexació stdlib de Python, on s'inclou el primer element de l'interval i s'exclou l'últim. Així, 0:10 seleccionarà les entrades 0,...,9.

`loc`, per la seva banda, utilitza índexs inclusivament. Així, 0:10 seleccionarà les entrades 0,...,10. 

Per què el canvi? Recordeu que loc pot indexar qualsevol tipus stdlib: cadenes, per exemple. Si tenim un DataFrame amb valors d'índex Apples, ..., Potatoes, ..., i volem seleccionar "totes les opcions de fruita alfabètiques entre Apples i Potatoes", és molt més convenient indexar amb `df.loc['Apples':'Potatoes']` que indexar alguna cosa com `df.loc['Apples', 'Potatoet']` (t ve després de s a l'alfabet). 

Això és molt confús quan l'índex és una llista numèrica simple, p. 0,...,1000. En aquest cas, df.iloc[0:1000] retornarà 1000 entrades, mentre que df.loc[0:1000] en retornarà 1001. Per obtindre 1000 elements amb loc, haureu d'anar un més avall i utilitzar df.loc[0:999]. En cas contrari, la semàntica d'utilitzar loc és la mateixa que la d'iloc.

### Manipulant l'índex

La selecció basada en etiquetes obté el seu *poder* de les etiquetes a l'índex. Este índex, per sort, el podem manipular. Per fer-ho utilitzarem el mètode *set_index()*.

Mira què passa quan executem el següent codi:

In [18]:
reviews.set_index("title")

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,variety,winery
title,,,,,,,,,,,,
Nicosia 2013 Vulkà Bianco (Etna),Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro),Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...
Domaine Marcel Deiss 2012 Pinot Gris (Alsace),France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Pinot Gris,Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caroline Gewurztraminer (Alsace),France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Gewürztraminer,Domaine Schoffit

Això és molt útil per a crear un índex per al conjunt de dades que siga millor que l'actual.

### Selecció condicional

Fins ara hem estat indexant utilitzant propietats estructurals del propi DataFrame. Per fer coses interessants amb les dades, no obstant, hem de fer seleccions en funció de determinades condicions. 

Per exemple, suposem que estem interessats específicament en vins millors que la mitjana produïts a Itàlia. Podem començar per comprovar si cada vi és italià o no:

In [19]:
reviews.country == 'Italy'

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

L'execució ens torna una sèrie de booleans `True/False` basat en el país de cada registre. Aquest resultat es pot utilitzar dins de loc per seleccionar les dades rellevants:

In [20]:
reviews.loc[reviews.country == 'Italy']

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

Aquest DataFrame té uns 20.000 registres, mentre que l'original tenia uns 130.000. Això vol dir que al voltant del 15% dels vins són originaris d'Itàlia. 

També volíem saber quins són millors que la mitjana. Els vins es classifiquen en una escala de 80 a 100 punts, de manera que això podria significar vins que hagin acumulat almenys 90 punts. Podem utilitzar el signe `&` (and) per unir les dues condicions:

In [21]:
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",Bricco Rocche Brunate,91,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Brunate (Barolo),Nebbiolo,Ceretto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",NaN,90,30.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,COS 2013 Frappato (Sicilia),Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

Igual que hem utilitzat l'operador condicional `&` (and) podriem utilitzar altres, com `|` (or) o `!` (not).

Pandas inclou uns quants selectors condicionals integrats, dos dels quals destacarem. 

El primer és `isin`. isin us permet seleccionar dades el valor de les quals "es troba a" una llista de valors. 

Per exemple, a continuació es mostra com el podem utilitzar per seleccionar vins només d'Itàlia o França:

In [22]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",Belsito,87,16.0,Sicily & Sardinia,Vittoria,NaN,Kerin O’Keefe,@kerinokeefe,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,Terre di Giurfo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

<div class='admonition question'>
<p class='admonition-title'>Pregunta</p>
<p>
Com obtindries el mateix resultat però utilitzant l'operador `|` (or)?
</p>
</div>

<details class='success'>
<summary>Comprovar resposta</summary>
<p>
reviews.loc[(reviews.country == 'Italy') |  (reviews.country == 'France')]
</p>
</details>

El segon és `isnull` (i el seu company `notnull`). Aquests mètodes ens permeten recuperar valors que són (o no) buits (NaN). 

Per exemple, per saber els vins que no tenen una etiqueta de preu, és a dir, dels quals no tenim la informació del seu preu, faríem:

In [23]:
reviews.loc[reviews.price.isnull()]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129893,Italy,"Aromas of passion fruit, hay and a vegetal not...",Corte Menini,91,NaN,Veneto,Soave Classico,NaN,Kerin O’Keefe,@kerinokeefe,Le Mandolare 2015 Corte Menini (Soave Classico),Garganega,Le Mandolare
129964,France,"Initially quite muted, this wine slowly develo...",Domaine Saint-Rémy Herrenweg,90,NaN,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Ehrhart 2013 Domaine Saint-Rémy Herren...,Gewürztraminer,Domaine Ehrhart

### Assignació de valors

Per altra banda, podem assignar valors al *DataFrame* és senzill.

Per a incloure una nova columna, utilitzem una nova etiqueta i assignem valor.

In [24]:
reviews['critic'] = 'everyone'
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,everyone
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,everyone

In [25]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0         129971
1         129970
           ...
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64

Si volem assignar un valor concret a una cel·la concreta, seleccionem la cel·la (amb loc o iloc) i assignem el valor desitjat.

In [26]:
reviews.loc[0,'critic'] = "Ferran"
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Ferran,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,everyone,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,everyone,1

## Funcions de resum

Les dades no sempre les tenim en el format en què les volem. De vegades hem de reformatar les dades per poder fer una tasca.

Pandas ofereix funcions de resum que reestructuren les dades de forma que siguen més útils. Per exemple, fixem-nos en la funció `describe()`:

In [27]:
reviews.points.describe()

count    129971.000000
mean         88.447138
             ...
75%          91.000000
max         100.000000
Name: points, Length: 8, dtype: float64

Aquest mètode genera un resum dels atributs de la columna donada. 

És conscient del tipus, és a dir, la seua ixida canvia en funció del tipus de dades que conté la columna. 

L'eixida anterior només té sentit per a dades numèriques; per a les dades de text, obtindriem:

In [34]:
reviews.country.describe()

count     129908
unique        43
top           US
freq       54504
Name: country, dtype: object

Si voleu obtenir alguna estadística senzilla sobre una columna en un DataFrame o una sèrie, normalment hi ha una funció pandas útil que ho fa possible.

Per exemple, per veure la mitjana dels punts assignats (per exemple, comparar un vi amb una puntuació mitjana), podem utilitzar la funció `mean()`.

Una vegada obtinguda la mitjana, podem veure si un vi està per dalt o per baix de la mitjana.

In [31]:
reviews.points.mean()

88.44713820775404

Per a veure una llista de valors únics (tots els valors diferents), podem utilitzar la funció `unique()`:

In [33]:
reviews.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

Per veure una llista de valors únics _i_ amb quina freqüència es produeixen al conjunt de dades, podem utilitzar el mètode `value_counts()`:

In [35]:
reviews.country.value_counts()

country
US        54504
France    22093
          ...
China         1
Egypt         1
Name: count, Length: 43, dtype: int64

## Funcions de mapatge

Un **mapa** és un terme, agafat de les matemàtiques, per a una funció que pren un conjunt de valors i els `mapetja` a un altre conjunt de valors. 

En ciència de dades sovint tenim la necessitat de crear noves representacions a partir de dades existents o de transformar les dades del format en què es troben ara al format en què necessitem.

Hi ha dos mètodes de mapeig que utilitzareu molt a sovint.

[`map()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html) és el primer, i és més senzill d'utilitzar.

Per exemple, suposeu que volem ressetejar les puntuacions que van rebre els vins a 0. Podem fer-ho de la següent manera:

In [39]:
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: 0)

0         0
1         0
         ..
129969    0
129970    0
Name: points, Length: 129971, dtype: int64

La funció que passeu a `map()` hauria d'esperar un valor únic de la sèrie (la puntuació a l'exemple anterior) i retornar una versió transformada d'aquest valor. 

`map()` aplica la funció que reb com a argunment a cadascun dels elements i li assigna el seu valor de retorn, transformant la serie original en una nova sèrie on tots els valors han canviat de valor segons la funció.

[`apply()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) és el mètode equivalent a map aplicat a tot un DataFrame. Utilitza un mètode per cada fila.

In [40]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.447138,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Ferran,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.447138,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,1.552862,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,everyone,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,1.552862,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,everyone,1


<div class="admonition warning">
  <p class="admonition-title">Truc</p>
  <p>
    Si haverem cridat reviews.apply() amb axis='index' en compte de axis='column', aleshores en lloc de passar una funció per transformar cada fila, hauriem de donar una funció per transformar cada columna.
  </p>
</div>

Tingueu en compte que map() i apply() retornen sèries i DataFrames nous i transformats, respectivament. No modifiquen les dades originals que reben. Si mirem la primera fila de ressenyes, podem veure que encara té el seu valor de punts original.

In [41]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Ferran,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone,129969
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone,129968
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone,129967

Pandas ofereix moltes operacions de mapes comunes ja integrades. 

Per exemple, ací teniu una manera més pràctica de reassignar la nostra columna de punts i assignar-li la diferència amb el valor mitjà:

In [42]:
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

En aquest codi estem realitzant una operació entre molts valors a la part esquerra (tota la Sèrie) i un sol valor a la dreta (el valor mitjà). 

Pandas mira aquesta expressió i descobreix que hem de voler restar aquest valor mitjà de tots els valors del conjunt de dades (és com la difusió als arrays de numpy).

Panda també enten què fer si realitzem aquestes operacions entre Sèries d'igual longitud. 

Per exemple, una manera senzilla de combinar la informació del país i la regió al conjunt de dades seria fer el següent:

In [43]:
reviews.country + " - " + reviews.region_1

0            Italy - Etna
1                     NaN
               ...
129969    France - Alsace
129970    France - Alsace
Length: 129971, dtype: object

Aquests operadors són més ràpids que `map()` o `apply()` perquè utilitzen les funcions universals de nunmpy als datasets de panda. 

Qualsevol funció universal de numpy (`>`, `<`, `==` i així successivament) funciona d'aquesta manera.

Tanmateix, no són tan flexibles com `map()` o `apply()`.

## Agrupaments i ordenació

Els mapes ens permeten transformar les dades en un DataFrame o Series a un valor per a una columna sencera. Tanmateix, sovint volem agrupar les nostres dades i després fer alguna cosa específica al grup en què es troben les dades. Per fer açò, utilitzem la funció `groupby()`.

### Anàlisi grupal

Una funció que hem estat utilitzant molt fins ara és la funció `value_counts()`. Podem replicar el que fa `value_counts()` fent el següent:

In [44]:
reviews.groupby('points').points.count()

points
80     397
81     692
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

`groupby()` ens agrupa els vins per puntuació.Per a cadascun d'aquests grups, agafem `points()` els comptem amb `count()`. 

`value_counts()` és només una drecera a aquesta operació `groupby()`.

Podem utilitzar qualsevol de les funcions de resum que hem utilitzat abans amb aquestes dades. Per exemple, per obtenir el vi més barat de cada categoria de valor de punts, podem fer el següent:

In [47]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

Podeu pensar que cada grup que generem és una part del nostre DataFrame que només conté dades amb valors que coincideixen. Aquest DataFrame és accessible per nosaltres directament mitjançant el mètode `apply()`, i llavors podem manipular les dades de la manera que creguem adequada. 

Per exemple, ací teniu una manera de seleccionar el nom del primer vi revisat de cada celler del conjunt de dades:

In [48]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

Per a un control encara més detallat, també podeu agrupar-los per més d'una columna. Per exemple, així és com escolliríem el millor vi per país _i_ província:

In [49]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
...                                                                       ...
Uruguay   San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                          designation  points  price  \
country   province
Argentina Mendoza Province           Nicasia Vineyard      97  120.0
          Other                               Reserva      95   90.0
...                                               ...     ...    ...
Uruguay   San Jose           El Preciado Gran Reserva      87   50.0
          Uruguay           Blend 002 Limited Edition      91   22.0

                                    province region_1 region_2  \
country   province
Argentina Mendoza Province  Mendoza Province  Mendoza      NaN
          Other                        Other    Salta      NaN
...                                      ...      ...      ...
Uruguay   San Jose                  San Jose      NaN      NaN
          Uruguay                    Uruguay      NaN      NaN

                                  taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province  Michael Schachner           @wineschach
          Other             Michael Schachner           @wineschach
...                                       ...                   ...
Uruguay   San Jose          Michael Schachner           @wineschach
          Uruguay           Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
...                                                                       ...
Uruguay   San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery  \
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
...                                           ...                   ...
Uruguay   San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

                              critic  index_backwards
country   province
Argentina Mendoza Province  everyone            47217
          Other             everyone            51668
...                              ...              ...
Uruguay   San Jose          everyone            90073
          Uruguay           everyone            90610

[425 rows x 15 columns]

Un altre mètode `groupby()` que val la pena estudiar és `agg()`, que us permet executar moltes funcions diferents al vostre DataFrame simultàniament. 

Per exemple, podem generar un resum estadístic senzill del conjunt de dades de la següent manera:

In [50]:
reviews.groupby(['country']).price.agg([len, min, max])

/tmp/ipykernel_5038/4122224884.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  reviews.groupby(['country']).price.agg([len, min, max])
/tmp/ipykernel_5038/4122224884.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  reviews.groupby(['country']).price.agg([len, min, max])

            len   min    max
country
Argentina  3800   4.0  230.0
Armenia       2  14.0   15.0
...         ...   ...    ...
Ukraine      14   6.0   13.0
Uruguay     109  10.0  130.0

[43 rows x 3 columns]

L'ús efectiu de `groupby()` us permetrà fer moltes coses realment potents amb el vostre conjunt de dades.

### Múltiples índexs

En tots els exemples que hem vist fins ara, hem estat treballant amb objectes DataFrame o Series amb un índex d'etiqueta única. `groupby()` és lleugerament diferent pel fet que, depenent de l'operació que executem, de vegades donarà lloc al que s'anomena multiíndex.

Un índex múltiple difereix d'un índex normal perquè té diversos nivells. Per exemple:

In [51]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
...                          ...
Uruguay   San Jose             3
          Uruguay             24

[425 rows x 1 columns]

Els índexs múltiples tenen diversos mètodes per tractar la seva estructura escalonada que no es troben en els índexs d'un sol nivell. També requereixen dos nivells d'etiquetes per recuperar un valor. Tractar l'eixida multi-índex és un problema comú per als usuaris nous a Panda.

Els casos d'ús d'un índex múltiple es detallen juntament amb les instruccions per utilitzar-los a la secció [MultiIndex/Selecció avançada](https://pandas.pydata.org/pandas-docs/stable/advanced.html) de la documentació de pandas.

Tanmateix, en general, el mètode multiíndex que utilitzareu amb més freqüència és el de tornar a convertir a un índex normal, el mètode `reset_index()`:

In [52]:
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

### Ordenació

Si tornem a mirar `countries_reviewed`, podem veure que l'agrupació retorna dades per ordre d'índex, no per ordre de valor. És a dir, quan s'emet el resultat d'un "groupby", l'ordre de les files depèn dels valors de l'índex, no de les dades.

Per obtenir les dades en l'ordre en què les volem, les podem ordenar nosaltres mateixos. El mètode `sort_values()` és útil per a això.

In [53]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

    country               province    len
179  Greece  Muscat of Kefallonian      1
192  Greece          Sterea Ellada      1
..      ...                    ...    ...
415      US             Washington   8639
392      US             California  36247

[425 rows x 3 columns]

`sort_values()` per defecte és una ordenació ascendent, on els valors més baixos van primer. Tanmateix, la majoria de les vegades volem una ordenació descendent, on els nombres més alts van primer:

In [54]:
countries_reviewed.sort_values(by='len', ascending=False)

    country    province    len
392      US  California  36247
415      US  Washington   8639
..      ...         ...    ...
63    Chile     Coelemu      1
149  Greece      Beotia      1

[425 rows x 3 columns]

Per ordenar per valors d'índex, utilitzeu el mètode complementari `sort_index()`. Aquest mètode té els mateixos arguments i ordre per defecte:

In [55]:
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

Finalment, sabeu que podeu ordenar per més d'una columna alhora:

In [56]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
..         ...               ...   ...
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]